@using DBModel.Result;
@{
    Layout = null;
    var btns = ViewBag.Btn as List<UserMenuButtonResult>;
    Func<string, UserMenuButtonResult> Button = (x) => btns.FirstOrDefault(z => z.ButtonId.Equals(x));
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/bootStrap3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/RestructureStyle.css" rel="stylesheet" />
</head>
<body class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <!--正文部分-->
        <div class="bg-light" style="height: 60rem;">
            <div class="templatemo-content-container">
                <div class="templatemo-content-widget no-padding">
                    <!--表头-->
                    <div class="panel-heading templatemo-position-relative">
                        <ul class="breadcrumb">
                            <li><a href="#">权限管理</a></li>
                            <li class="active">角色管理</li>
                        </ul>
                        <!--搜索框-->
                        <div class="input-group">
                            <input id="number" type="text" class="form-control" placeholder="序号">
                            <input id="proName" type="text" class="form-control" placeholder="项目名称">
                            @{
                                if (Button("4") != null)
                                {
                                    <button id="btnQuery" class="btn btn-primary">@Button("4").ButtonName</button>
                                }
                                if (Button("5") != null)
                                {
                                    <button id="btnDetails" class="btn btn-primary">@Button("5").ButtonName</button>
                                }
                                if (Button("1") != null)
                                {
                                    <button id="btnAdd" class="btn btn-primary">@Button("1").ButtonName</button>
                                }
                                if (Button("3") != null)
                                {
                                    <button id="btnDel" class="btn btn-danger">@Button("3").ButtonName</button>
                                }
                                if (Button("2") != null)
                                {
                                    <button id="btnUpdate" class="btn btn-warning">@Button("2").ButtonName</button>
                                }
                            }
                        </div>
                    </div>

                    <!--表单内容-->
                    <div class="panel panel-default table-responsive" id="mainContent">

                    </div>

                </div>
            </div>
        </div>

        <!--分页部分-->
        <div id="example" style="text-align: center" class="bg-light">
            <ul id="pageLimit"></ul>
        </div>


        <form id="modalMenu">
            <!--增改弹窗-->
            <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="txt_username">菜单编号</label>
                                <input type="text" name="menuId" class="form-control" id="menuId" placeholder="菜单编号">
                            </div>
                            <div class="form-group">
                                <label for="txt_fullname">菜单名称</label>
                                <input type="text" name="menuName" class="form-control" id="menuName" placeholder="菜单名称">
                            </div>
                            <div class="form-group">
                                <label for="txt_remark">父级编号</label>
                                <input type="text" name="parentMenId" class="form-control" id="parentMenId" placeholder="父级编号">
                            </div>
                            <div class="form-group">
                                <label for="txt_remark">菜单级别</label>
                                <input type="text" name="level" class="form-control" id="level" placeholder="菜单级别">
                            </div>
                            <div class="form-group">
                                <label for="txt_remark">菜单地址</label>
                                <input type="text" name="url" class="form-control" id="url" placeholder="菜单地址">
                            </div>
                            <input type="text" name="ExecutiveAction" class="form-control" id="ExecutiveAction" hidden="hidden" value="2">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="btn_submit">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <script src="~/Content/js/jquery/jquery-2.1.0.min.js"></script>
        <script src="~/Content/bootStrap3.3.7/js/bootstrap.js"></script>
        <script src="~/Content/js/bootstrap/js/bootstrap-paginator.min.js"></script>
        <script src="~/Content/js/actionView/UserRoleManagement.js"></script>

    </div>


    <script src="~/Content/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Content/bootStrap3.3.7/js/bootstrap.js"></script>
    <script src="~/Content/js/bootstrap/js/bootstrap-paginator.min.js"></script>
    <script src="~/Content/js/actionView/NavMenuManagement.js"></script>
    <script src="~/Content/js/chart.js/chart.min.js"></script>
    <script src="~/Content/js/carbon.js"></script>
    <script src="~/Content/js/demo.js"></script>
</body>
</html>
